@import 'variables.scss';
@import 'mixins.scss';
@import 'links';

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: block;
  display: flex;
}
#app {
  min-height: 100%;
  flex-grow: 2;
  .el-main {
    line-height: unset;
    padding: var(--base-padding);
    margin: 0 var(--base-padding);
    background-color: white;
    // border-radius: 10px;
  }
  .el-container{
    background: var(--main-backgroud);
  }
}


