@import 'variables.scss';
@import 'mixins.scss';
@import 'links';

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: block;
  display: flex;
}
#app {
  min-height: 100%;
  flex-grow: 2;
  .el-main {
    line-height: unset;
  }
}


