.a-link {
  color: var(--color-theme-4);
  cursor: pointer;
  &:hover {
    color: var(--color-theme-5);
  }
  &:visited {
    color: var(--color-theme-4);
    &:hover {
      color: var(--color-theme-5);
    }
  }
}
